<html>

<head>
	<title>Early Detection of Forest Fires</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="/static/style.css">
	<style>

	</style>
</head>

<body style="background-color:black;">

	<div class="container text-center " style="padding-top:50px;">
		<div>
			<h1 style="font-size: 46px; color: white;">EXPLORATORY ANALYSIS OF RAINFALL DATA<span style="color:blue"> IN INDIA FOR AGRICULTURE
				</span></h1>
		</div>
	</div>

	<section class="site-section" id="section-about" style="padding-top: 75px;">
		<div class="container">
				<div class="row align-items-center mb-4">
					<div class="section-heading text-center text-align">
						<h2 class="mb-5 " style="color: white;">PREDICTION <strong style="color:blue;">RAINFALL</strong></h2>
					</div>
					<p style="color: white;"> An important aspect to be understood regarding the relationship between rainfall and
						agriculture is that rainfall is the major factor in the growth and production of food crops both at the germination
						and fruit development stage. But with a change in the world’s climate, temperatures will rise and rainfall will
						increase in some places. In other places, rainfall will decrease.</p>

					<p style="color: white;"> Prediction is important. So why Prevention is better than cure!
					</p>
				</div>
				<div class="row mb-5" style="padding-left: 450px;">
					<h3 class="text-center text-white"> Get your <span style="color:blue"> Account here! </span></h3>
				</div>

	</section>
	<div class="container d-flex justify-content-center">
<div class="row ">
       					 <div class="col ">
            						<a  style="width:200px" href="/registerpage" class="btn btn-outline-primary ">Register</a> </div>
        				<div class="col">
                					<a  style="width:200px"  href="/signinpage"  class="btn btn-outline-primary ">Login</a></div>

</div>
		</div>

</body>

</html>














